div.container {
  width: 100%;
  min-height: 750px;
  margin-left: 162px;
}

.container {
  max-width: 1280px;
}

header {
  color: white;
  background-color: white;
  clear: left;
  min-height: 100px;
  box-shadow: 1px 1px 1px grey;
}

nav {
  float: left;
  width: 25%;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
}

article {
  width: 75%;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
  min-height: 648px;
}

.search-box {
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.user-detail-box {
  float: right;
  padding: 15px;
  margin-top: 10px;
  margin-right: 10px;
  color: #333333;
  font-size: 20px;
}

.user-detail-box i {
  font-size: 28px;
}

.tab-content>.active {
  display: none;
}

.fas {
  font-weight: bolder;
  font-size: 29px;
  padding: 4px;
  background-color: black;
}

.panel-body-show {
  display: block;
  overflow: visible;
  height: auto;
}

span.bs-rating-star {
  font-size: x-large;
}

.panel {
  width: 100%
}

.message {
  width: 100%;
  color: black;
  height: 100px;
  border: 3px solid grey;
  border-radius: 10px;
  padding: 32px 0px 0px 46px;
  text-transform: uppercase;
  font-family: cursive;
}

.description {
  width: 100%;
  padding: 18px;
  color: black;
}

.th {
  font-size: larger;
}

.striped-table {
  width: 100%;
}

img {
  display: block;
  width: 200px;
  max-height: 200px;
}

.fa-user-style {
  font-size: 35px;
}

.heart-size {
  font-size: 36px;
  color: deeppink;
}

.search-dropdown {
  width: 250px;
}

.search-dropdown button {
  margin: 0px;
}