<!--Header Component-->
<div class="container">
  <header>
    <span class="search-box">
      <div class="input-group">
        <input [(ngModel)]="selectedValue" [typeahead]="people" typeaheadOptionField="name" (typeaheadOnSelect)="onSelectSearch($event)"
          placeholder="Search..." class="form-control search-dropdown">
        <span class="input-group-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </span>
    <span class="user-detail-box">Name
      <span class="fa-user-style">
        <i class="fa fa-user"></i>
      </span>
    </span>
  </header>

  <!--Left Navigation Component-->
  <nav>
    <tabset #staticTabs [vertical]="true" type="pills" *ngIf="people">
      <ng-container *ngFor="let peeps of people">
        <tab heading="{{peeps.name}}" (select)=" onSelect(peeps)"></tab>
      </ng-container>
    </tabset>
  </nav>

  <article>
    <div class="panel card" *ngIf="selectedIndividual">

      <!--Image, Message and Ratings Section Begins-->
      <div class="panel-heading card-header">
        <div class="row">

          <!--Image section-->
          <div class="col-sm-3">
            <img src="{{selectedIndividual.img}}" alt="Third slide">
          </div>

          <!--Message and Ratings section-->
          <div class="col-sm-9">
            <div class="message">
              Send Message!
            </div>
            <div class="rating">
              <rating class="heart-size" [customTemplate]="t" style="margin:15px 0;" [(ngModel)]="selectedIndividual.rating" [max]="max"
                [readonly]="isReadonly"></rating>
              <ng-template class="heart-size" #t let-index="index" let-value="value">{{index < value ? '&#9829;' : '&#9825;'}}</ng-template>
            </div>
          </div>
        </div>
      </div>
      <!--Image, Message and Ratings Section Ends-->

      <div class="panel-body-show">
        <div class="row">

          <!--Description Section-->
          <div class="col-sm-12">
            <div class="description">
              {{selectedIndividual.Description}}
            </div>
          </div>

          <!--Likes table Section-->
          <div class="col-sm-6">
            <div class="striped-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Likes</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let likes of selectedIndividual.Likes">
                    <tr>
                      <td>{{likes}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <!--Dislikes table Section-->
          <div class="col-sm-6" style=" margin-left: -29px;">
            <div class="striped-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Dislikes</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let dislikes of selectedIndividual.Dislikes">
                    <tr>
                      <td>{{dislikes}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </article>
</div>